// Fonts
//@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed&display=swap');
//@import url('https://fonts.googleapis.com/css2?family=Muli:wght@400;600;700&display=swap');

// Variables
@import 'variables';
@import 'helpers';
@import 'fonts';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

@import 'header/main';

@import 'pages/formation';
@import 'pages/homepage';

@media (min-width:1270px){
    .container{
        max-width:1270px !important;
    }
}

body{
    background-color:white;
}

footer{
    background:#f7f7f7;

    img{
        max-width:200px;
        height:auto;
    }

    .title{
        font-size:1.3rem;
    }
}
